{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'studio:home' %}">
            <img src="{% static 'img/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Студия Звукозаписи
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'studio:home'%}#team">Наша команда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'studio:home'%}#services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'reviews:feedback_list' %}">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'studio:home'%}#contact">Локация и контакты</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile' user.id %}">Профиль</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Заказы</a></li>
                        {% if user.is_superuser or user.is_staff %}
                        <li>
                            <a class="dropdown-item" href="{% url 'studio:manage' %}">
                                Админ-панель
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Выйти
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <a href="{% url 'studio:manage' %}" style="float: left;cursor:pointer;"
                       aria-expanded="true"
                       title="You Have 6 New Appointments">
                        <i class="far fa-bell" style="font-size: 20px; float: left; color: black"></i>
                    </a>
                    {% if count_of_not_accepted_appointments %}
                    <span class="badge badge-danger">{{ count_of_not_accepted_appointments }}</span>
                    {% endif %}
                </li>

            </ul>

        </div>
    </div>
</nav>